<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="home-header">
        <h1>Chatroom</h1><br>
    </div>

    <div class="list-container">
        <div id="list"></div>
    </div>
    
    <button onclick="createRoom()" class="create-button"></button>


<script>
    var roomList = [];
    const list = document.getElementById('list');
    fetchData();
    async function fetchData() {
        try {
            const response = await fetch(`http://localhost:8080/roomList`);
            const data = await response.json();
            console.log(data);
            roomList = data;
        } catch (error) {
            console.error('Error fetching data:', error);
        }
        let listContainer = document.createElement('div');
        roomList.forEach(room => {
            const listItem = document.createElement('div');
            listItem.classList.add('room-item');

            const roomName = document.createElement('span');
            roomName.classList.add('room-name');
            roomName.textContent = room.roomName;

            const roomID = document.createElement('span');
            roomID.classList.add('room-id');
            roomID.textContent = '#' + room.roomID;

            listItem.appendChild(roomName);
            listItem.appendChild(roomID);
            listItem.onclick = function() {
                window.location.href = 'http://localhost:8080/' + room.roomID;
            };

            listContainer.appendChild(listItem);
        });
        list.innerHTML = '';
        list.appendChild(listContainer);
    }

    setInterval(fetchData, 3000);

    async function createRoom() {
        var roomName = prompt("Please enter room name", "roomName");
        try {
            const response = await fetch('http://localhost:8080/newRoom', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ roomName }),
            });
            const result = await response.json();
            alert(result);
            fetchData(); // Refresh the list after creating a new room
        } catch (error) {
            console.error('Error creating room:', error);
        }
    }

</script>
</body>
</html>