body {
  font-family: Arial, Helvetica, sans-serif
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

h1 {
  text-align: center;
  color:#ffffff;
}

h2 {
  text-align: center;
  color:#000000;
}

h3 {
  position: absolute;
  color: #000000;
  top: 22%; 
  left: 40%;
  font-size: 1.7em;
}

h4 {
  position: absolute;
  color: #000000;
  top: 22%; 
  left: 45%;
  font-size: 1.7em;
}

#msgList {
  position: fixed;
  top: 26%; 
  left: 10%;
  height: 57vh;
  overflow-y: auto; 
  margin: 20px auto;
  width: 80%;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
  border: none;
  outline: none;
}

input[type="submit"] {
  padding: 10px 20px;
  margin: 10px 0;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

.create-button {
  position: absolute;
  bottom: 5%;
  left: 8.5%;
  width: 40px; 
  height: 40px;
  border-radius: 50%;
  background-image: url('/create.jpg'); 
  background-size: cover;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #949494;
}

a {
  display: block;
  padding: 10px;
  color: #007bff;
  border-bottom: 1px solid #ddd;
}

a:hover {
  background-color: #f1f1f1;
}

.welcome {
  text-align: center;
}

.msg-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.msg-meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 0 10px;
}

.msg-user {
  font-weight: bold;
  margin-right: 10px;
}

.msg-date {
  color: #888;
  font-size: 0.9em;
}

.msg-bubble {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: fit-content;
  max-width: 80%;
  word-wrap: break-word;
}

.msg-header {
  border: 1px solid #ccc;
  width: 100%;
  height: 10%;
  border-bottom: none;
  display: inline-block;
  background-color: #ffffff;
  margin: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.back-button {
  position: absolute;
  top: 23px;
  left: 10px;
  width: 60px; 
  height: 60px;
  border-radius: 50%;
  background-image: url('/333.jpg'); 
  background-size: cover;
  border: none;
  cursor: pointer;
}

.delete-button {
  position: absolute;
  top: 23px;
  right: 10px;
  width: 60px; 
  height: 60px;
  border-radius: 50%;
  background-image: url('/delete.jpg'); 
  background-size: cover;
  border: none;
  cursor: pointer;
}

.msg-bottom {
  position: fixed;
  bottom: 1%; 
  left: 15%;
  width: 68%; 
  background-color: #ffffff;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group {
  display: flex; 
  align-items: center;
}

.form-control {
  flex: 1;
  border: none;
  border-radius: 20px;
  padding: 10px;
  margin-right: 10px;
}

.submit-button {
  position: absolute;
  bottom: 8px;
  right: 10px;
  width: 40px; 
  height: 40px;
  border-radius: 50%;
  background-image: url('/send.jpg'); 
  background-size: cover;
  border: none;
  outline: none;
  cursor: pointer;
}

.list-container {
  height: 82vh;
  overflow-y: auto; 
  width: 20%;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.room-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  color: #000000;
}

.room-item:hover {
  background-color: #f1f1f1;
}

.room-name {
  font-weight: bold;
  flex-grow: 1;
  font-size: 1.1em;
  text-align: center;
  color: #071bfb7e; 
}

.room-id {
  text-align: right;
  font-size: 0.75em;
  flex-shrink: 0;
  color: #071bfb7e; 
}

.home-header {
  border: 1px solid #ccc;
  width: 100%;
  height: 10%;
  border-bottom: none;
  display: inline-block;
  background-color: #071bfb7e;
  margin: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.search-message {
  position: absolute;
  top: 19%; 
  left: 15%;
  width: 68%; 
  background-color: #ffffff;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px; 
  height: 30px;
  border-radius: 50%;
  background-image: url('/search.jpg'); 
  background-size: cover;
  border: none;
  outline: none;
  cursor: pointer;
}

.profile-button {
  position: absolute;
  top: 38%;
  right: 47%;
  width: 140px; 
  height: 140px;
  border-radius: 50%;
  background-image: url('/profile.png'); 
  background-size: cover;
  border: none;
  outline: none;
  cursor: pointer;
}

.logout-button {
  position: absolute;
  top: 38%;
  right: 23%;
  width: 140px; 
  height: 140px;
  border-radius: 50%;
  background-image: url('/logout.jpg'); 
  background-size: cover;
  border: none;
  outline: none;
  cursor: pointer;
}

.login-button {
  position: absolute;
  top: 38%;
  right: 47%;
  width: 140px; 
  height: 140px;
  border-radius: 50%;
  background-image: url('/login.png'); 
  background-size: cover;
  border: none;
  outline: none;
  cursor: pointer;
}

.signup-button {
  position: absolute;
  top: 38%;
  right: 23%;
  width: 140px; 
  height: 140px;
  border-radius: 50%;
  background-image: url('/signup.png'); 
  background-size: cover;
  border: none;
  outline: none;
  cursor: pointer;
}

.My-Profile {
  position: absolute;
  color: #000000;
  top: 65%; 
  right: 50%;
  font-size: 1.4em;
}

.Log-In {
  position: absolute;
  color: #000000;
  top: 65%; 
  right: 50%;
  font-size: 1.4em;
}

.Log-Out {
  position: absolute;
  color: #000000;
  top: 65%; 
  right: 25%;
  font-size: 1.4em;
}

.profile-container {
  position: absolute;
  top: 35%;
  left: 36%;
  height: 60vh;
  overflow-y: auto; 
  width: 50%;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.profile {
  font-size: 1.2em;
  margin-left: 5px;
  text-align: center;
}

.goback-button {
  position: absolute;
  top: 22%;
  left: 25%;
  width: 60px; 
  height: 60px;
  border-radius: 50%;
  background-image: url('/333.jpg'); 
  background-size: cover;
  border: none;
  cursor: pointer;
}